<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="refresh" content="180">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<audio th:if="${alive}" controls autoplay>
    <source src="sounds/tada.wav" type="audio/wav">
    Your browser does not support the audio element.
</audio>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="sticky-top">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Level</th>
            <th scope="col">Respawn Start</th>
            <th scope="col">Respawn End</th>
            <th scope="col">Window</th>
            <th scope="col">Drop</th>
            <th scope="col">Location</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="a : ${allBosses}" th:object="${a}">
            <form th:action="@{/add}" method="GET">
                <td>
                    <a th:value="*{name}" th:text="*{name}"
                    ></a>
                    <input type="text" th:value="*{name}" name="bossName" style="display: none">
                </td>
                <td>
                    <span th:if="*{alive}" class="text-success">Alive</span>
                    <span th:unless="*{alive}" class="text-danger">Dead</span>
                </td>
                <td th:text="*{level}"></td>
                <td th:text="*{respawnStart}"></td>
                <td th:text="*{respawnEnd}"></td>
                <td>
                    <div class="bar" th:if="*{alive} == false and ${now} &gt; *{respawnStartTime}">
                        <div class="bar-inner" th:styleappend="true ? ${a.getWidthPercentage(now)} : ''">

                        </div>
                    </div>
                </td>
                <td><a th:href="*{dropURL}">drop</a></td>
                <td><a th:href="*{locationURL}">location</a></td>
<!--                <td><input type="datetime-local" class="form-control datetimepicker"-->
<!--                           name="tod" id="posted"></td>-->
<!--                <td>-->
<!--                    <button type="submit">Add Time of Death</button>-->
<!--                </td>-->
            </form>
        </tr>
        </tbody>
    </table>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>